<header>
  <div id="logoDiv">
    <div class="row" id="noBottomMargin">
      <div class="col s12" id="noPadding1">
        <div class="col s1 left-align bottom-align" id="noPadding2">
          <img src="assets/images/JanMichael.png" class="logophoto hide-on-small-only"></img>
        </div>
        <div class="col center-align s10">
          <img src="assets/images/speakitlogo.png" class="logophoto2"></img>
        </div>
        <div class="col s1 right-align" id="noPadding3">
          <img src="assets/images/Anya.png" class="logophoto hide-on-small-only"></img>
        </div>   
      </div>
    </div>
</div>
  <nav> <!--navigation bar-->
    <div class="nav-wrapper grey darken-1">
      <a href="#!" class="brand-logo center"></a>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="chatBox">
    <ul id="messages"></ul>
    <div class="row center">
        <div class="col s12">
            <form id="chatForm">
                <div class="input-field">
                    <i class="material-icons prefix pink-text text-accent-3">textsms</i>
                    <input type="text" id="msg" autocomplete="off">
                    <label for="msg" class="pink-text text-accent-3">Message</label>
                </div>
            </form>
        </div>
    </div>
</div>

<!--This is a footer ;)-->
  <footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Developers</h5>
                <p class="grey-text text-lighten-4">This page was created by:</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect With Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/hanna-kilpatrick-5a6b7914b/">Anya Kilpatric</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/johnny-heath/">Johnny Heath</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/marieajohnson/">Mariea Johnson</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/janmichaeledwards/">Jan-Michael Edwards</a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>    

<script src="/socket.io/socket.io.js"></script>
<script>
    
    $(function () {
    //var socket = io.connect("https://speak-it.herokuapp.com/");
    var socket = io.connect("http://localhost:3000");      
    $('form').submit(function(){
        socket.emit('chat message', $('#msg').val());
        $('#msg').val('');
        return false;
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
    });
    });
</script>