{{!-- speakIt banner art --}}
<img src="public/images/speakItBanner.png" alt="SpeakIt Banner" class="center">

{{!-- nav bar --}}

{{!-- word cloud art --}}
<img src="public/images/wordCloudBlack.jpg"alt="Word Cloud" class="center">

{{!-- materialize large button Log in--}}
<a class="waves-effect waves-light btn-large">
  <i class="material-icons right red accent-4" id="logInBtn">cloud</i>button</a>

{{!-- materialize large button Sign up--}}
<a class="waves-effect waves-light btn-large">
  <i class="material-icons right red accent-4" id="signUpBtn">cloud</i>button</a>

