<video playsinline autoplay muted loop poster="fist.jpg" id="speakItVid">
  <source src="assets/images/speakItVid.mp4" type="video/webm">
  <source src="assets/images/speakItVid.mp4" type="video/mp4">
</video>

{{!-- speakIt banner art --}}
<header>
  <!--Logo-->
  <div class="container">
    <div class="col m8 offset-2 ">
      <span>
        <img src="assets/images/speakitv2.png" class="center-align"></img>
      </span>
    </div>
  </div>

  <!--navigation bar-->
  <nav>
    <div class="nav-wrapper grey darken-1">
      <a href="#!" class="brand-logo center"></a>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Profile</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
          <div>
            {{!-- materialize large buttons --}}
            <button class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/login" id="logInBtn">Log In</button>

            <button class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/signup" id="signUpBtn">Sign Up</button>

            <button class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/logout" id="logOutBtn">Log Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>