{{!-- speakIt banner art --}}
<header>
  <!--Logo-->
  <div id="logoDiv">
    <div class="row" id="noBottomMargin">
      <div class="col s12" id="noPadding1">
        <div class="col s1 left-align bottom-align" id="noPadding2">
          <img src="assets/images/JanMichael.png" class="logophoto hide-on-small-only"></img>
        </div>
        <div class="col center-align s10">
          <img src="assets/images/speakitlogo.png" class="logophoto2"></img>
        </div>
        <div class="col s1 right-align" id="noPadding3">
          <img src="assets/images/Anya.png" class="logophoto hide-on-small-only"></img>
        </div>   
      </div>
    </div>
  </div>
  <nav> <!--navigation bar-->
    <div class="nav-wrapper grey darken-1">
      <a href="#!" class="brand-logo center"></a>
      <ul class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div>
  <video playsinline autoplay muted loop  id="speakItVid">
    <source src="assets/images/speakItVid.mp4" type="video/webm">
    <source src="assets/images/speakItVid.mp4" type="video/mp4">
  </video>
  {{!-- materialize large buttons --}}
  <a class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/login" id="logInBtn">Log In</a>

  <a class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/signup" id="signUpBtn">Sign Up</a>

  <a class="button wrapper waves-effect waves-light btn-large pink accent -3" href="/logout" id="logOutBtn">Log Out</a>
</div>
