 <!--handlebars still needs to be added-->

 <header>
    <!--Logo-->
  <div id="logoDiv">
    <div class="row" id="noBottomMargin">
      <div class="col s12" id="noPadding1">
        <div class="col s1 left-align bottom-align" id="noPadding2">
          <img src="assets/images/JanMichael.png" class="logophoto hide-on-small-only"></img>
        </div>
        <div class="col center-align s10">
          <img src="assets/images/speakitlogo.png" class="logophoto2"></img>
        </div>
        <div class="col s1 right-align" id="noPadding3">
          <img src="assets/images/Anya.png" class="logophoto hide-on-small-only"></img>
        </div>   
      </div>
    </div>
  </div>
    <!--navigation bar-->      
        <nav>
            <div class="nav-wrapper grey darken-1">
                <a href="#!" class="brand-logo center"></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

<main>

<!--this is the card that will display the results of the users that speak a certain language-->
{{#each users}}
<div class="card grey darken-1 z-depth-2 hoverable">
    <!--div class="card-image waves-effect waves-block waves-light"-->
      <img class="flags" src="assets/images/flag-of-Ukraine.png">
    <!--/div-->
    <div class="card-content white-text" id="resultsCard">
      <span class="card-title activator white-text">{{username}}<i class="material-icons right pink-text text-accent-3">more_vert</i></span>
      <p>{{language}}</p>
      <a class="addBtn btn-floating btn-large waves-effect waves pink accent-3" id="addBtn" value={{username}}><i class="material-icons right">add</i></a>
    </div>
    <div class="card-reveal grey lighten-1">
      <span class="card-title grey-text text-darken-4"><!--Username--><i class="material-icons right pink-text text-accent-3">close</i></span>
     <p>{{about}}</p>
    </div>
    
  </div>
</main>
{{/each}}


<!--This is a footer ;)-->
<footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>    