

    <!--handlbars still need to be added-->
    
    <header>
        <div class="container">
            <div class="col m8  offset-2">
            <span><img src="speakitLogo.png" class= "center-align"></img></span>
            </div>   
        </div>

        <!--Navigation Bar-->    
        <nav>
            <div class="nav-wrapper grey darken-1">
                <a href="#!" class="brand-logo center"></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="">Home</a></li>
                    <li><a href="">Profile</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

     <div  class="container ">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 ">
          <div class="icon-block proCard grey darken-1 z-depth-4">
            <h2 class="center pink-text text-accent-3"><i class="medium material-icons">person</i></h2>
            <h5 class="center white-text">About Me</h5>

            <p class="light white-text center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis obcaecati veniam labore quos, quam modi molestias omnis non. Consectetur accusamus incidunt repudiandae possimus dignissimos veritatis voluptatum odit amet iure hic.</p>
          </div>
        </div>

        <div class="col s12 m4 ">
          <div class="icon-block proCard grey darken-1 z-depth-4">
            <h2 class="center pink-text text-accent-3"><i class="medium material-icons">record_voice_over</i></h2>
            <h5 class="center white-text">Native Language</h5>

            <p class="light white-text center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga quibusdam facere vel esse quo quisquam, quaerat iste mollitia, ducimus, dignissimos impedit, ipsa vitae asperiores enim alias veniam! Officiis, maiores.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block  proCard grey darken-1 z-depth-4">
            <h2 class="center pink-text text-accent-3"><i class="medium material-icons">group</i></h2>
            <h5 class="center white-text">Friends</h5>

            <p class="light white-text center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis reprehenderit modi debitis eaque! Exercitationem eum quaerat eligendi cum beatae iure repudiandae totam tempore reprehenderit corrupti dicta tempora, mollitia alias nesciunt.</p>
          </div>
        </div>
      </div>
    
        </div>    
        
 