
  <header>
    <div class="container">
      <div class="col m8 offset-2">
        <span><img class="center-align" src=""></span>
      </div>
    </div><!--Navigation Bar-->
    <nav>
      <div class="nav-wrapper sidenav-trigger grey darken-1">
        <a class="brand-logo center" href="#!"></a>
        <ul class="left sidenav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
     
      </div>
    </nav>
  </header>
  <div class="container" id="profileContent">  
    <div class="row">
      <div class="col s12 center">
        <img class="circle proPic left-align" src="assets/images/flag-of-France.png">
        <h3 id="addFont" class="addFont">John Doe</h3>
      </div>
      <div class="col s12 center">
        <ul id = "dropdown" class = "dropdown-content">
          <li><a href = "/language">English</li>
          <li><a href = "/language">German</li>
          <li><a href = "/language">Spanish</a></li>
        </ul>
        <a class = "btn dropdown-button" href = "#" data-activates = "dropdown" id="languagechoice">Search friends</a>
      </div>
      <div class="col s12 m5 l4 addTopMargin" id="aboutMeDiv">
        <div class="row center">
          <h5>About Me</h5>
        </div>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit aperiam tempora quae saepe dolorum ratione vero minima eos culpa, est maiores, eum laudantium quam? Beatae voluptates nemo repudiandae, enim.</p>
      </div>
      <div class="col s12 m5 l4 offset-l4 offset-m2 addTopMargin" id="aboutMeDiv">
        <div class="row center">
          <h5>My Friends</h5>
        </div>
        <ul>
          <li>
            <a href="/chat">chat</a> with AnyaUA
            <img class="circle" width="50px" src="assets/images/flag-of-Ukraine.png">
          </li>
          <li>
            <a href="/chat">chat</a> with Jan-Michael
            <img class="circle" width="50px" src="assets/images/flag-of-United-States-of-America.png">
          </li>
        </ul>
      </div>

    </div>
    </div>
    {{!-- <div class="section">
      <div class="container flow-text proCard light white-text center-align grey darken-1 z-depth-4">
        <!--profile area-->
        <main>
          <div class="row">
            <div class="col m10 offset-1" style="width:100% ">
              <br>
              <img class="circle proPic left-align" src="assets/images/flag-of-France.png">
              <h3 id="addFont" class="addFont">John Doe</h3>
              <br>
              <br>
              <h5>Language</h5>
              <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit aperiam tempora quae saepe dolorum ratione vero minima eos culpa, est maiores, eum laudantium quam? Beatae voluptates nemo repudiandae, enim.</p>
              <h5>My Story</h5>
              <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus veniam, corporis dicta ipsam vitae dolorem excepturi dolorum sunt unde maiores, qui cumque, culpa obcaecati non ab. Saepe perferendis totam facilis!</p>
              <h5>My Friends</h5>
              <ul class="flow-text">
                <li>Anya</li>
                <li>Johnny</li>
                <li>Mariea</li>
              </ul>
<!--search button-->
              
            </div>
          </div>
        </main>



        <!--This is a footer ;)-->
       


         <input id="languagechoice" type="text" class="validate">
         <button type="button" id="languagebtn" href="language">Select Language</button>

        
      </div>
    </div>
  </div> --}}
  <script>$('#dropdown-button').dropdown();</script>