<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="https://code.jquery.com/jquery.js">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>SpeakIT</title>
</head>
<body>
    
    <header>
        <div class="container">
            <div class="col m8">
                <span><img class="centered" src="speakitBanner.png"></span>
            </div>
        </div>
        <nav>
            <div class="nav-wrapper black">
                <a class="brand-logo center" href="#!"></a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container red accent-4">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="large material-icons">person</i></h2>
                        <h5 class="center">About Me</h5>
                        <p class="light"></p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="large material-icons">record_voice_over</i></h2>
                        <h5 class="center">Languages</h5>
                        <p class="light"></p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="large material-icons">group</i></h2>
                        <h5 class="center">Friends</h5>
                        <p class="light"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/javascript/app.js">
    </script>
</body>
</html>