.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.horizontal {
  text-align: horizontal;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red;
    -webkit-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
} 

body{
 	background-color: #bdbdbd;
 }

#profile.container{
	padding-top: 75px;
	opacity: ;
	border-radius: 25px;
}

#resultsCard{
	position: relative;
}

#addBtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.proCard{
	border-radius: 25px;
	padding-right: 20px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.flags{
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

